<br><br>
<footer style="font-size:12px">
    <section class="row bg-dark text-white">
        <div class="col-md-4 text-center">
            <h3 class="text-center text-primary">Contact us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto cupiditate exercitationem magnam, minima perspiciatis quod quos ratione.</p>
        </div>
        <div class="col-md-4 text-center">
            <h3 class="text-center text-primary">Find us</h3>
            4th Street, Parklands

            <br>454, Parklands
            <br>Nairobi, kenya
            <br>
            Phone: +254 722 *** 565
        </div>
        <div class="col-md-4 text-center">
            <h3 class="text-center text-primary">Help!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor excepturi maxime modi neque nihil, placeat, porro sapiente sed sequi tempora ullam voluptate voluptatibus.</p>
        </div>
    </section>
        <p class="text-center bg-warning"><i><b>All rights reserved.Copyright 2020</b></i></p>

</footer>
