<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <title>Home Page</title>
    <style>
        p {
    font-size:13px;
    }
    body{
        background-color: #FFECB3;
        }
    </style>
</head>
<body>
{% include 'header.html' %}
<section class="row">
    <div class="col-md-4">
        <div class="card"  >
            <img src="../static/bb.jpg" class="img-fluid" alt="">
        </div>
        <div class="card-body text-center">
            <h6 class="text-center"><b>Discounts</b></h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci aliquid .</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card"  >
            <img src="../static/sugar3.jpg" class="img-fluid" alt="">
        </div>
        <div class="card-body text-center">
            <h6 class="text-center"><b>Affordable</b></h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci aliquid .</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card"  >
            <img src="../static/s1.jpg" class="img-fluid" alt="">
        </div>
        <div class="card-body text-center">
            <h6 class="text-center"><b>Quality</b></h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci aliquid .</p>
        </div>
    </div>
</section>
        <br><br>
<section class="row">
    <div class="col-md-8">
        <h2>Recent News!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam beatae ea ex illum impedit ipsa, iusto libero maxime, minima nam, nihil odit quas ratione recusandae reprehenderit saepe similique tenetur voluptas.</p>
    </div>
    
    <div class="col-md-4">
        <img src="../static/veg.jpg" class="img-fluid" alt="">
    </div>
</section>
        <br><br>
        <h1 class="jumbotron text-center bg-dark text-primary"><u class="text-white">We Believe In...</u></h1>
<section class="row">
    <div class="col-md-4">
        <div class="card"  >
            <img src="../static/shop2.jpg" class="img-fluid" alt="">
        </div>
        <div class="card-body">
            <h3 class="text-center">Our Products</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci aliquid .</p>
        <button class="btn btn-dark">Read more...</button>
        </div>

    </div>
    <div class="col-md-4">
        <div class="card"  >
            <img src="../static/shop.jpg" class="img-fluid" alt="">
        </div>
        <div class="card-body">
            <h3 class="text-center">Sales</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci aliquid .</p>
        <button class="btn btn-dark">Read more...</button>
        </div>

    </div>
    <div class="col-md-4">
        <div class="card"  >
            <img src="../static/unga9.jpeg" class="img-fluid" width="92%" alt="">
        </div>
        <div class="card-body">
            <h3 class="text-center">Quality Affordable Goods</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci aliquid .</p>
        <button class="btn btn-dark">Read more...</button>
        </div>

    </div>
</section>


<section class="row">
      <div class="col-md-8">
            <h1 style="font-size: 40px">We Deliver at Your Door Step</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus earum error illum nam repellat? Ex excepturi fugit iure rem voluptatum? Architecto fuga inventore magnam nostrum provident quae quis, rerum velit!</p>
      </div>

      <div class="col-md-4"  >
            <img src="../static/truck1.jpg" class="img-fluid" width="92%" alt="">
        </div>
</section>

{% include 'footer.html' %}
</body>
</html>